@charset "utf-8";
body,td,th {
	font-family: Calibri, Verdana;
	font-size: 16px;
	font-weight: bold;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #1FA2D0;
}

.logintextbox {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
	border-top-color: #F7AD6C;
	border-right-color: #F7AD6C;
	border-bottom-color: #F7AD6C;
	border-left-color: #F7AD6C;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.loginbutton {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
}
.largelink {
	font-size: 24px;
}
.largelinkred {
	font-size: 24px;
	color:#FF0000;
}

.maintext {
	font-size: 16px;
	font-weight: bold;
	font-family: Calibri, Verdana;
}
.redtext2 {
	font-size: 16px;
	font-weight: bold;
	color: #990000;
	font-family: Calibri, Verdana;
}
.greentext {
	font-size: 16px;
	font-weight: bold;
	color: #009900;
	font-family: Calibri, Verdana;
}
.logbutton {
	font-family: Calibri, Verdana;
	font-size: 36px;
	font-weight: bold;
	background-color: #66CCFF;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
}
.redtext {
	font-size: 18px;
	font-weight: bold;
	font-family: Calibri, Verdana;
	color: #CC0000;
}
.whitetext {
	font-size: 16px;
	font-weight: bold;
	font-family: "Arial Narrow", Arial;
	color: #FFFFFF;
}
.subtext {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	font-family: Calibri, Verdana;
}
.subtext2 {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	font-family: Calibri, Verdana;
	color: #CC0000;
	padding-left: 20px;
}
.smalltext {
	font-size: 14px;
	font-weight: bold;
	font-family: Calibri, Verdana;
}
.greytext {
	font-size: 14px;
	font-weight: bold;
	font-family: Calibri, Verdana;
	color:#CCCCCC;
}
.redtext3 {
	font-size: 14px;
	font-weight: bold;
	font-family: Calibri, Verdana;
	color: #CC0000;
}
.fineprint {
	font-size: 12px;
	font-weight: bold;
	font-family: Calibri, Verdana;
}
.errbox {
	font-size: 18px;
	font-weight: bold;
	font-family: Calibri, Verdana;
	color: #CC0000;
	border: 0px none #FFFFFF;
}
.branch {
	font-family: Calibri, Verdana;
	font-size: 36px;
	font-weight: bold;
	background-color: #C9ECF8;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.fineprintplain {
	font-size: 12px;
	font-weight: normal;
	font-family: Calibri, Verdana;
}
.smalltextindent {
	font-size: 14px;
	font-weight: bold;
	font-family: Calibri, Verdana;
}
.subtext3 {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	font-family: Calibri, Verdana;
	color: #CC0000;
}
